.create-button{
    position: absolute;
    left: 625px;
    top:500px;
    border: 5px rgb(27, 86, 51);
    background-color: azure;

}

.header{
    padding: 60px;
    text-align: center;
    background: rgb(255, 198, 41);
    color: rgb(27, 86, 51);
    font-size: 30px;
}

.PopUpBackground{
    background-color: white;
    border: 5px white;
}

.New-Form{
    top: 400px;
}